@page "/"
@using Microsoft.AspNetCore.Components.WebAssembly.Hosting
@inject IConfiguration config
@inject IWebAssemblyHostEnvironment HostEnvironment

<PageTitle>Index</PageTitle>

<h1>Hello, world!!!!! ???</h1>

<div>
    <p>ENV: @config["Field1"]</p>
    <p>ENVIRONMENT: @HostEnvironment.Environment</p>
    <p>BASE ADDRESS: @HostEnvironment.BaseAddress</p>
</div>

Welcome to your new app.
